In [1]:
from google.colab import drive
drive.mount('/content/drive')
!ls '/content/drive/My Drive/Assignments/Hypothesis Testing'

Mounted at /content/drive
BuyerRatio.csv		Hypothesis_Testing_Assignment.pptx
Costomer+OrderForm.csv	hypothesis_testing_Q1.ipynb
Cutlets.csv		LabTAT.csv

In [7]:
import os
os.getcwd()
#os.chdir('../drive/My Drive/Assignments/Hypothesis Testing')
#os.chdir('drive/My Drive/Assignments/Hypothesis Testing')
os.getcwd()
os.listdir()

['hypothesis_testing_Q2.ipynb',
 'Costomer+OrderForm.csv',
 'LabTAT.csv',
 'Hypothesis_Testing_Assignment.pptx',
 'Cutlets.csv',
 'BuyerRatio.csv',
 'hypothesis_testing_Q1.ipynb']

Q2.A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

We are going to conduct a ANOVA Test on 4 Independent samples with Numerical Data
We need to check whether the mean of any of these samples are different or the same?

**Step 1** Null Hypothesis H0 is that there is no significant difference in average TAT among different laboratories
u1=u2=u3=u4

Alternate Hypothesis: Atleast one of them is different

**Step 2:** Decide a cut-off value

Significance 5%
alpha = 0.05

**Step 3:**
Importing files

In [8]:
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [9]:
labtat = pd.read_csv('LabTAT.csv')
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

# Applying Descriptive Statistics

In [10]:
labtat.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

# Checking for Null Values

In [11]:
labtat.isnull().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

# Checking for Duplicate Values

In [13]:
labtat[labtat.duplicated()].shape
labtat[labtat.duplicated()]

Empty DataFrame
Columns: [Laboratory 1, Laboratory 2, Laboratory 3, Laboratory 4]
Index: []

# Step 4
Compare Evidences with Hypothesis using t-statictic

In [14]:
test_statistic , p_value = stats.f_oneway(labtat.iloc[:,0],labtat.iloc[:,1],labtat.iloc[:,2],labtat.iloc[:,3])
print('p_value =',p_value)

p_value = 2.1156708949992414e-57

if p_value <= alpha, 'We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories'
else, 'We fail to reject Null hypothesis'

In [15]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.000
We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories

# We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories